

body{
    font-family: "Poppins";
    left: 0;
    box-sizing: border-box;
    margin-top: 90px;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed; /* Para fixar a barra no topo */
    top: 0;
    left: 0;
    right: 0;
    height: 90px; /* Ajuste a altura conforme necessário */
    background-color: #fff; /* Cor de fundo da navegação */
    color: white; /* Cor do texto */
    display: flex;
    align-items: center; /* Alinhamento vertical do conteúdo */
    justify-content: space-between; /* Distribui itens com espaço entre eles */
    padding: 0 20px; /* Espaçamento interno */
    z-index: 1000; /* Mantém a barra acima de outros elementos */
    box-shadow: 0px 1px 1px #c0c0c0;
    overflow: hidden;   
}

nav li {
    list-style: none;
    display: inline-flex;
    padding: 20px;
}

nav a {
    text-decoration: none;
    display: inline-flex;
    padding: 20px;
    color: black;
    transition: 0.4s ease;
}

nav a:hover {
    color: #00A8E8;
}

nav button {
    background-color: transparent;
    border-color: #14213d;
    border-radius: 5px;
    display: block;
    width: 80px;
    height: 40px;
    font-weight: bold;
    transition: 0.4s ease;
}

nav button:hover {
    transform: scale(1.05);
    color: #00A8E8;
    cursor: pointer;
}

.container_button {
    text-decoration: none;
}

.container_button:hover {
    text-decoration: none;
}

.img-programacao {
    width: 100%;
    height: auto
}

.slogan {
    margin-left: 50px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slogan h1 {
    font-size: 60px;
    width: 600px;
}
.slogan p {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 600px;
}

.sobre {
    margin-top: 80px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre h1 {
    font-size: 60px;
}

.sobre p {
width: 900px;
}

footer {
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #c0c0c0;
    height: 50px;
}

footer p {
    
}

footer img {
    
}